@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: black;
    margin: auto;
    padding: 20px;
    background-color: transparent;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
}

body {
    background-image: url("../../assets/images/ArcadeMachine1080p.png");
    background-position-x: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-rows: 12% 9.6% 57.5% 2% 12% auto;
    background-color: black;
}

#main-canvas {
    margin: auto;
    // height: 51.5%;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 100%;
    image-rendering: optimizeSpeed;             // Older versions of FF
    image-rendering: -moz-crisp-edges;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast; // Webkit (non standard naming)
    image-rendering: -o-crisp-edges;            // OS X & Windows Opera (12.02+)
    image-rendering: crisp-edges;               // Possible future browsers.
    -ms-interpolation-mode: nearest-neighbor;   // IE (non standard naming)
}
