@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

*{
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: rgb(52, 52, 255);
    margin: auto;
    background-color: transparent;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: 'Press Start 2P', cursive;
    font-size: min(5.5vh, 8vw);
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(13, 13, 54);
}

body {
    background-image: url("../assets/images/Backgrounds/asian_night.png");
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
}

#arcade-machine {
    background-image: url("../assets/images/ArcadeMachine.png");
    background-position-x: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 12% 9.6% 57.5% 4.5% 12% auto;
    background-color: transparent;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#arcade-machine h1 {
    cursor: default;
}

#main-canvas {
    margin: auto;
    // height: 51.5%;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 100%;
    border: 3px solid;
    border-radius: 3px;
    border-image-source: linear-gradient(black, rgb(97, 97, 97));
    border-image-slice: 1;
    font-family: 'Press Start 2P';
}

#bottom-menu{
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    position: relative;
    height: 100%;
}

#mute-button{
    width: 4vh;
    height: 4vh;
    // font-size: 60px;
    position: absolute;
    left: 7vh;
    top: -4.5vh;
    cursor: pointer;
}

#mute-button img {
    width: 100%;
    height: 100%;
    position: absolute;
}

#main-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    position: relative;
    left: 13vh;
}

#start-game{
    font-family: "Press Start 2P", cursive;
    color: rgb(52, 52, 255);
    font-size: 2.5vh;
    border: solid rgb(52, 52, 255) 1px;
    position: relative;
    // left: 25vh;
    top: -6vh;
    // margin: 0vh auto;
    padding: 2vh;
    transition: margin 0.1s, padding 0.1s, font-size 0.1s;
    cursor: pointer;
    height: fit-content;
}
#start-game:hover{
    font-size: calc(2.5vh * 1.1);
    transition: margin 0.1s, padding 0.1s, font-size 0.1s;
}

#how-to-play{
    font-family: "Press Start 2P", cursive;
    color: rgb(52, 52, 255);
    font-size: 2.5vh;
    border: solid rgb(52, 52, 255) 1px;
    position: relative;
    // left: 25vh;
    top: -6vh;
    // margin: 0vh auto;
    padding: 2vh;
    transition: margin 0.1s, padding 0.1s, font-size 0.1s;
    cursor: pointer;
    height: fit-content;
}

#how-to-play:hover{
    font-size: calc(2.5vh * 1.1);
    transition: margin 0.1s, padding 0.1s, font-size 0.1s;
}

.controllers {
    grid-row-start: 5;
    grid-row-end: 6;
    display: flex;
    justify-content: center;
    height: 100%;
}

#controller1 {
    height: 100%;
}

#controller2 {
    height: 100%;
}
